.form_item {
  border-bottom: 1px solid var(--border-color1);
  margin-top: -5px;
}
.form_item:last-child {
  border-bottom: none;
}
.form_item > .form_item {
  border-bottom: none;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
}
.form_item > .form_item > .main {
  height: auto;
}

.label {
  color: var(--text-color5);
  font-size: var(--font-size3);
  font-size: 14px;
}

.additional_content {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: 14px;
}

.content {
  color: var(--text-color2);
  display: inline-block;
}

.error {
}
