.root {
  position: fixed;
  left: 50%;
  top: 25px;
  padding: 15px;
  min-width: 200px;
  border: 1px solid #ffa39e;
  border-radius: 4px;
  transform: translateX(-50%);
  background-color: #fff1f0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  font-size: 16px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.85);
}

.close {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.description {
  margin-top: 5px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
}
.description::first-letter {
  text-transform: uppercase;
}
