.button {
  display: inline-flex;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button::first-letter {
  text-transform: uppercase;
}

.extended {
  border-radius: 24px !important;
}

.theme_default {
  background-color: var(--main-color2);
  color: var(--main-color3);
}
.theme_default:hover {
  background-color: var(--main-hover-blue);
}
.theme_gray {
  background-color: #ffffff;
  color: #444444;
  border: 1px solid #888888;
}
.theme_gray:hover {
  background-color: var(--main-color4);
}
.theme_red {
  color: #ffffff;
  background-color: var(--delete-color2);
}
.theme_red:hover {
  opacity: 0.8;
}

.size_small {
  font-weight: 500;
  font-size: 0.85em;
  border-radius: 2px;
  padding: 7px;
}
.size_medium {
  font-weight: 500;
  font-size: var(--font-size3);
  height: 36px;
  min-width: 118px;
  padding: 0 20px;
  border-radius: 2px;
}
.size_large {
  font-weight: 400;
  font-size: var(--font-size1);
  height: 56px;
  width: 276px;
  border-radius: 4px;
}

.full_width {
  width: 100%;
  min-width: 0;
  padding: 0 !important;
}

.full_height {
  height: 100%;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  font-size: 26px;
  vertical-align: middle;
}

.disabled,
.loading {
  pointer-events: none;
  color: #ffffff;
  background-color: #bbbbbb;
  cursor: default;
  border-color: transparent;
}

.loading {
  background-color: #eeeeee !important;
  pointer-events: none;
}

.preloader {
  width: 28px;
}
