.entitiesPlaceholder {
  display: block;
  text-align: center;
}

.entity {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: calc(45% - 30px) calc(41% - 30px) 14%;
  padding: 16px;
  margin-bottom: 5px;
  border: 1px solid var(--border-color1);
}
.entity:last-child {
  margin-bottom: 0;
}

.entity__column {
  display: flex;
  align-items: center;
}

.entity__name {
  font-weight: 600;
  color: #0366d6;
}

.entity__userRole {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 400;
  color: #586069;
}

.entity__members {
  display: flex;
  justify-content: flex-end;
}

.entity__actions {
  display: flex;
  justify-content: flex-end;
}
.entity__action {
  width: 60px;
  margin-left: 10px;
}
.entity__action:first-child {
  margin-left: 0;
}

.entity_updating {
  opacity: 0.4;
  pointer-events: none;
}

.team__collaborators {
}
.team__restCollaborators {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  color: #666666;
  font-size: 12px;
  background-color: #ededed;
}
.collaboratorAvatar {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}
.collaboratorAvatar:last-child {
  margin-right: 0;
}
